/* 设置页面居中 */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 设置用户信息区域的样式 */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* 设置帖子列表的样式 */
.post {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    /* 使所有帖子高度相同 */
    min-height: 300px; /* 调整这个值以满足你的需求 */
    min-width: 600px;
    box-sizing: border-box;
}

/* 设置帖子内容的样式 */
.post p {
    margin-bottom: 10px;
}

/* 设置图片列表容器的样式 */
.post .images-container {
    display: flex;
}

/* 设置图片的样式 */
.post img {
    max-width: 100%;
    height: auto;
    margin-right: 10px; /* 横向排列图片，设置右边距 */
    margin-bottom: 10px;
    /* 使所有图片高度相同 */
    max-height: 100px; /* 调整这个值以满足你的需求 */
}

/* 设置评论列表的样式 */
.post .comment p {
    margin-bottom: 5px;
}

.comment p::before {
    content: '\00009'; /* Unicode编码表示Tab字符 */
    white-space: pre;
}


/* 设置点赞数量的样式 */
.post .likes-count {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 设置发帖时间的样式 */
.post .time {
    color: #888;
}
