<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgc.campusechosearchandrecommendservice.mapper.LikesMapper">

    <select id="getUserLikeList" resultType="java.lang.Integer">
        SELECT infoId FROM t_likes WHERE userId = #{userId}
    </select>
</mapper>