<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>粉丝页</title>
    <link rel="stylesheet" href="/css/userHome.css">
    <script src="/js/userHome.js"></script>
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</head>
<body>
<p th:text="${userObj.userId}" hidden th:id="currentId"></p>
<h1 th:if="${#lists.size(fansList) == 0}">暂无粉丝</h1>
<button onclick="getBack(document.getElementById('currentId').innerText)">返回上一页</button>
<table th:each="user,iterStat :${fansList}">
    <!--  列表长度       -->
    <p hidden th:text="${#lists.size(fansList)}" th:id="listSize"></p>
    <tr>
        <!--  每个用户的id   -->
        <h3 hidden th:text="${user.userId}" th:id="${iterStat.index}"></h3>
        <td><h1 th:text="${user.username}"></h1></td>
        <td><img th:src="@{${'/get/'+user.head}}" alt="User Avatar" class="img"></td>
        <td>
            <button type="button" th:class="${'primary-button-'+iterStat.index}">查看主页</button>
        </td>
        <td>
            <button type="button" th:class="${'follow-button-'+iterStat.index}"
                    th:if="${userObj.getFollows() != null && !userObj.follows.contains(user.userId.toString())}">回关
            </button>
        </td>
    </tr>
</table>
</body>
<script>
    window.onload = function () {
        const listSize = document.getElementById("listSize").innerText;
        for (let i = 0; i < listSize; i++) {
            $(`.primary-button-${i}`).click(value => {
                const userId = document.getElementById(String(i)).innerText;
                redirectToUserPage(userId);
            })
            $(`.follow-button-${i}`).click(value => {
                const userId = document.getElementById(String(i)).innerText;
                follow(userId);
            })
        }
    }
</script>
</html>