<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <link rel="stylesheet" href="/css/userHome.css">
    <script src="/js/userHome.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
<div id="post-form">
    <button th:if="${sessionUser.userId  == user.userId}" onclick="showPostInput()">发表帖子</button>
    <button th:if="${sessionUser.userId  == user.userId}" onclick="myFollows()">我的关注</button>
    <button th:if="${sessionUser.userId  == user.userId}" onclick="myFans()">我的粉丝</button>
    <button th:if="${sessionUser.userId  != user.userId && sessionUser.follows != null &&!sessionUser.follows.contains(user.userId.toString())}" onclick="follow(document.getElementById('currentUserHomeId').innerText)">关注ta</button>
    <button  onclick="getBackToPreviousPage()">返回上一页</button>
    <button th:if="${sessionUser.userId  == user.userId}" onclick="window.location.href = '/user/logout'">退出登录</button>
    <div id="post-input" style="display: none;">
        <textarea id="post-text" placeholder="分享你的心情..."></textarea>
        <input type="file" th:multiple="multiple" id="post-image" accept="image/*" placeholder="选择图片">
        <select name="category" id="category">
            <option value="">--选择分类--</option>
            <option value="求助">求助</option>
            <option value="转售">转售</option>
            <option value="吐槽">吐槽</option>
            <option value="拼团">拼团</option>
            <option value="交友">交友</option>
            <option value="表白">表白</option>
            <option value="其他">其他</option>
        </select>
        <button onclick="homePost()">发表</button>
    </div>
</div>
<!-- 用户信息 -->
<h1 th:text="${user.username}"></h1>
<p hidden th:text="${session.user}" id="user"></p>
<p hidden th:text="${user.userId}" id="currentUserHomeId"></p>
<img th:src="@{${'/get/'+user.head}}" alt="User Avatar" class="img">
<table>
    <tr style="width: 265px;height: 56px">
        <td>性别：</td>
        <td><p th:text="${user.sex}"></p></div></td>
    </tr>
    <tr style="width: 265px;height: 56px">
        <td>地区：</td>
        <td><p th:text="${user.area}"></p></td>
    </tr>
    <tr style="width: 265px;height: 56px">
        <td>联系方式：</td>
        <td><p th:text="${user.contact}"></p></td>
    </tr>
</table>


<!-- 用户发布的帖子列表 -->
<div th:each="list,iterStat : ${dtoList}" class="post" th:id="${'post-'+list.info.id}">
        <!-- 列表长度   -->
    <div th:text="${#lists.size(dtoList)}" hidden id="listSize"></div>
    <div>
        <!-- 帖子内容 -->
        <p th:text="${list.info.text}"></p>

        <!-- 帖子id  -->
        <p hidden th:text="${list.info.id}" th:id="${iterStat.index}"></p>

        <!-- 图片列表容器 -->
        <div class="images-container">
            <!-- 图片列表 -->
            <div th:each="img : ${list.info.img}">
                <img th:src="@{${'/get/'+img}}" alt="Post Image">
            </div>
        </div>

        <!-- 评论列表 -->
        <p>评论：</p>
        <div th:each="comment : ${list.comments}" class="comment">
            <p th:text="${comment.text}"></p>
        </div>

        <!-- 点赞数量 -->
        <p th:text="'点赞数：'+${list.info.likes}" class="likes-count"></p>

        <!-- 发帖时间 -->
        <p th:text="${list.info.time}" class="time"></p>

        <!-- 评论按钮 -->
        <button type="button"  th:id="${'button'+iterStat.index}">评论</button>

        <!-- 评论输入框       -->
        <textarea style="display: none" placeholder="发表评论..."  th:id="${'comment-input-'+list.info.id}" cols="30" rows="10"></textarea>


        <!-- 发表评论按钮 -->
        <button type="button" style="display: none" th:class="${'post-comment-button-'+iterStat.index}" th:id="${'post-comment-button-'+list.info.id}">发表评论</button>

        <!-- 点赞按钮       -->
        <button type="button" th:class="${'like-button-'+iterStat.index}">点赞</button>

        <!-- 删除按钮 -->
<!-- 这样的写法保证了在 JavaScript 中得到的 postId 是一个正确的字符串，即使它包含了一些特殊字符（例如空格、引号等）       -->
        <button type="button" class="delete-button" th:if="${sessionUser.userId  == user.userId}" th:onclick="'deletePost(\'' + ${list.info.id} + '\')'">删除</button>
    </div>
</div>
</body>
<script>
    const listSize = document.getElementById("listSize").innerText;
    for (let i = 0; i < listSize; i++) {
        document.getElementById("button"+String(i)).onclick = function (){
            const infoId = document.getElementById(String(i)).innerText;
            showCommentInput(infoId);
        }
        document.getElementsByClassName('post-comment-button-'+String(i))[0].onclick = function (){
            const infoId = document.getElementById(String(i)).innerText;
            const comment = document.getElementById('comment-input-'+infoId).value;
            if(comment == null || comment.trim() === ''){
                 alert('评论不能为空');
                 return;
             }
            homeComment(infoId,comment);// 传入帖子ID和评论内容
        }
        document.getElementsByClassName('like-button-'+String(i))[0].onclick = function () {
            const infoId = document.getElementById(String(i)).innerText;
            toggleLike(infoId);
        }
    }
</script>
</html>
