<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgc.school.mapper.FlagMapper">

    <resultMap id="FlagMap" type="com.hgc.school.vo.Flag">
        <result column="id" property="id"/>
        <result column="mysqlFlag" property="mysqlFlag"/>
        <result column="redisFlag" property="redisFlag"/>
        <result column="esFlag" property="esFlag"/>
        <result column="userId" property="userId"/>
        <result column="type" property="type"/>
    </resultMap>

    <insert id="addFlag">
        INSERT INTO t_flag VALUES(#{id},#{mysqlFlag},#{redisFlag},#{esFlag},#{userId},#{type});
    </insert>
    <select id="selectNeeds" resultType="com.hgc.school.vo.Flag">
        SELECT * FROM t_flag WHERE mysqlFlag = 0 OR redisFlag = 0 OR esFlag = 0;
    </select>
</mapper>