<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgc.school.mapper.UserMapper">

    <insert id="addUser">
        INSERT INTO t_user(head,username,password,sex,area,contact) VALUES(#{head},#{username},#{password},#{sex},#{area},#{contact});
    </insert>
    <update id="updateLikeList">
        UPDATE t_user SET likelist = #{likelist} WHERE user_id = #{userId};
    </update>
    <update id="updateFollows">
        UPDATE t_user SET follows = #{follows} WHERE user_id = #{userId};
    </update>
    <update id="updateFans">
        UPDATE t_user SET fans = #{fans} WHERE user_id = #{userId};
    </update>
    <select id="selectUser" resultType="com.hgc.school.vo.User">
        SELECT * FROM t_user WHERE username = #{name};
    </select>
    <select id="selectById" resultType="com.hgc.school.vo.User">
        SELECT * FROM t_user WHERE user_id = #{id};
    </select>
    <select id="selectAll" resultType="com.hgc.school.vo.User">
        SELECT * FROM t_user;
    </select>
    <select id="selectIds" resultType="java.lang.Integer">
        SELECT user_id FROM t_user;
    </select>
</mapper>